@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000300;
  scroll-behavior: smooth;
}

:root {
  --text-color-main: rgb(255, 196, 40);
}
